<footer class="footer">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="footer-item">
                        <h3 class="footer-title">خدمات</h3>
                        <ul class="footer-links">
                            <li><a href="#">حساب کاربری</a></li>
                            <li><a href="#">سبد خرید</a></li>
                            <li><a href="#">کالاهای مورد علاقه</a></li>
                            <li><a href="#">سفارشات من</a></li>
                            <li><a href="#">راهنمایی</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="footer-item">
                        <h3 class="footer-title">دسترسی سریع</h3>
                        <ul class="footer-links">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">قوانین سایت</a></li>
                            <li><a href="#">آرشیو مقالات سایت</a></li>
                            <li><a href="#">محصولات پر فروش</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="footer-item">
                        <h3 class="footer-title">دسته بندی محصولات</h3>
                        <ul class="footer-links">
                            <li><a href="#">کالای دیجیتال</a></li>
                            <li><a href="#">لوازم خانگی</a></li>
                            <li><a href="#">لوازم جانبی موبایل</a></li>
                            <li><a href="#">لوازم آشپزخانه</a></li>
                            <li><a href="#">فرهنگ و هنر</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="footer-item">
                        <h3 class="footer-title">درباره ما</h3>
                        <p>فروشگاه Electro فعالیت خود را با هدف بهبود فضای کسب و کار در سال 88 آغاز کرد .</p>
                        <ul class="footer-links">
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-pin"></i>اصفهان ، خیابان چهارباغ خواجو ، جنب کتابخانه
                                    ابن سینا فروشگاه بزرگ آنلاین
                                </a>
                            </li>
                            <li><a href=""><i class="zmdi zmdi-phone"></i>021-46658785</a></li>
                            <li><a href=""><i class="zmdi zmdi-email"></i>email@yahoo.com</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="section bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright">
                        تمامی حقوق برای فروشگاه محفوظ است &nbsp;&nbsp;<i class="zmdi zmdi-favorite-outline"></i>&nbsp;&nbsp;طراحی قالب<b>
                            &nbsp;&nbsp;مهدی
                            شفیعی
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
