@model  RegisterViewModel
<div class="alert alert-success text-center">
    <h5>@Model.UserName:عزیز!</h5>
    <p>ممنون از ثبت نام شما  برای ادامه  فراید ثبت نام لطفا<a asp-controller="Account"asp-action="Login">وارد سایت</a>شوید</p>
</div>