@model ChangePasswordViewModel

<div class="container mt-20">
    <section class="box-section border account-layer">
        <header class="right-border">
            <h3> تغییر کلمه عبور</h3>
        </header>
        <div class="form-layer">
            <form asp-action="ChangePassword" method="post">

                @switch (ViewBag.Result)
                {
                    case ResultChanePassword.Success:

                        TempData["SuccessMessage"] = " کلمه عبور با موفقیت ویرایش شد ";

                        <script>
                            setTimeout(function () {
                                window.location.href = 'https://localhost:7201/Login-User'; // مسیر صحیح را بررسی کن
                            }, 2000);
                        </script>
                        break;
                    case ResultChanePassword.OldPasswordNotValid:

                        TempData["WarningMessage"] = "کلمه عبور فعلی اشتباه است";
                        break;
                    case ResultChanePassword.Error:
                        TempData["ErrorMessage"] = "مشکلی پیش آمده  لطفا دوباره امتحان کنید";
                        break;
                }


                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="کلمه عبور عبور قبلی ">
                </div>
                <span asp-validation-for="OldPassword"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور عبور جدید ">
                </div>
                <span asp-validation-for="Password"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید ">
                </div>
                <span asp-validation-for="RePassword"></span>

                <button class="btn btn-danger btn-md btn-block btn-radius"> تغییر کلمه عبور </button>
            </form>
        </div>
    </section>
</div>