@using ElctroShop.Domain.ViewModels
@model ErrorPaymnetViewModel

<div class="card text-center">
    <div class="card-body">
        <div class="alert alert-danger">
            <h2>ناموفق</h2>
            <p>پیام: @Model.Message</p>
            <p>کدپیگیری: @Model.RefId</p>
        </div>
    </div>
</div>